{% extends "base.html" %}

{% block content %}

<h2>System Analytics</h2>

<div class="row">

<div class="col-md-4">

<div class="card">

<div class="card-body">

<h4>
{{total_workers}}
</h4>

<p>Total Workers</p>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card">

<div class="card-body">

<h4>
{{total_departments}}
</h4>

<p>Departments</p>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card">

<div class="card-body">

<h4>
{{total_attendance}}
</h4>

<p>Attendance Records</p>

</div>

</div>

</div>

</div>

{% endblock %}
