<div class="sidebar">

    <div class="sidebar-brand">

        {% if settings and settings.logo %}
        <img src="{{ url_for(
            'static',
            filename='uploads/' + settings.logo
        ) }}">
        {% endif %}

        <h4>AV KING</h4>

    </div>

    <!-- ADMIN MENU -->
    {% if current_user.role in [
        "admin",
        "super_admin"
    ] %}

        <a href="/dashboard">📊 Dashboard</a>

        <a href="/workers">👥 Workers</a>

        <a href="/applications">📄 Applications</a>

        <a href="/jobs">💼 Jobs</a>

        <a href="/attendance-dashboard">
            🕒 Attendance
        </a>

        <a href="/departments">
            🏢 Departments
        </a>

        <a href="/leave-requests">
            🏖 Leave Requests
        </a>

        <a href="/announcements">
            📢 Announcements
        </a>

        <a href="/notifications">
            🔔 Notifications
        </a>

        <a href="/payroll">
            💰 Payroll
        </a>

        <a href="/analytics">
            📈 Analytics
        </a>

        <a href="/create-admin">
            ➕ Add Admin
        </a>

        <a href="/audit-logs">
            📜 Audit Logs
        </a>

        <a href="/settings">
            ⚙️ Settings
        </a>

        <a href="/logout">
            🚪 Logout
        </a>

    {% else %}

    <!-- WORKER MENU -->

        <a href="/worker-dashboard">
            📊 Dashboard
        </a>

        <a href="/logout">
            🚪 Logout
        </a>

    {% endif %}

</div>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}

        <div class="alert alert-{{ category }}
                    alert-dismissible fade show shadow-sm"
             role="alert">

            {{ message }}

            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert">
            </button>

        </div>

        {% endfor %}
    {% endif %}
{% endwith %}
