{% extends "base.html" %}

{% block content %}

<div class="text-center mt-5">

    <h1>
        AV KING WORKER FORM
    </h1>

    <h5>
        AV KING VET DRUG VENTURE
    </h5>

    <p>
        NO 11, HALLELUJAH SHOPPING COMPLEX,
        OPPOSITE POULTRY ASSOCIATION,
        IYANA AJIA,
        EGBEDA,
        IBADAN
    </p>

    <p>
        Phone: 08087981439
    </p>

    <hr>

    <div class="mt-4">

        <a href="/login"
           class="btn btn-primary btn-lg">
            Worker Login
        </a>

        <a href="/admin-login"
           class="btn btn-danger btn-lg">
            Admin Login
        </a>

        <a href="/careers"
           class="btn btn-success btn-lg">
            Apply For Job
        </a>

        <div class="card mt-3">

    <div class="card-body">

        <h4>
            Approved Applicants
        </h4>

        <p>
            If your application has been approved,
            create your worker account here.
        </p>

        <a href="/worker-register"
        class="btn btn-success">

            Create Account

        </a>

    </div>

        </div>
        
    </div>

</div>

{% endblock %}
